<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: my-header('Single Post')" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h3 th:text="${post.title}"></h3>
        <h5 th:text="${post.body}"></h5>
        <h6 th:text="${post.user.email}"></h6>
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${post.user.id}" class="field is-grouped">
            <div class="control">
                <a id="openModal" class="button">Edit
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
            </div>
            <div class="control">
                <form th:action="@{/posts/{postId}/delete(postId=${post.id})}" th:method="POST">
                    <button class="button is-danger">Delete
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" th:object="${post}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="modal-close delete is-large" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input id="title" class="input" th:field="*{title}" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Body</label>
                    <div class="control">
                        <textarea id="body" class="textarea" th:field="*{body}" ></textarea>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <form th:action="@{/posts/{postId}/edit(postId=${post.id})}" th:method="post">
                    <input id="hiddenTitle" type="hidden" th:field="*{title}" />
                    <input id="hiddenBody" type="hidden" th:field="*{body}" />
                    <input type="hidden" th:field="*{user.id}" />
                    <button id="save" class="button is-warning">Save changes
                        <span class="icon">
                            <i class="fas fa-save"></i>
                        </span>
                    </button>
                </form>
                <button id="cancel" class="button">Cancel
                    <span class="icon">
                        <i class="fas fa-backspace"></i>
                    </span>
                </button>
            </footer>
        </div>
    </div>
</div>

<footer class="footer">
    <th:block th:replace="fragments/footer :: footer" />
</footer>

<script type="text/javascript" th:src="@{/js/bulmaModalJs.js}"></script>
</body>
</html>