<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('All posts')" />

</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container">
    <div class="content">
        <h3 th:text="${id.getTitle()}"></h3>
        <h6 th:text="${id.getBody()}"></h6>
        <div class="field is-grouped">
            <div class="control">
                <a class="button">Edit</a>
            </div>
            <div class="control">
                <a class="button" name="delete" href="/posts">Delete</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <th:block th:replace="fragments/footer :: footer" />
</footer>
</body>
</html>