<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<nav class="navbar is-info" role="navigation" aria-label="main navigation" th:fragment="bulma-navbar">
    <div class="navbar-brand">
<!--        <a class="navbar-item" href="https://bulma.io">-->
<!--            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" />-->
<!--        </a>-->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/posts" class="navbar-item">Home</a>
            <a href="/posts/create" class="navbar-item">Create A Post</a>
            <div class="navbar-item">
                <div class="search">
                    <svg class="search-svg" viewBox="0 0 320 70"
                         data-init="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M197,67 181.21,51.21"
                         data-mid="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M179.5,49.5 179.5,49.5"
                         data-active="M27,3 L293,3 a27,27 0 0,1 0,54 L27,57 a27,27 0 0,1 0,-54 M179.5,49.5 179.5,49.5">
                        <path class="search-svg__path" d="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M197,67 181.21,51.21" />
                    </svg>
                    <div class="field">
                        <div class="control">
                            <input type="text" class="search-input" />
                        </div>
                    </div>
                    <div class="closeBtn"></div>
                </div>
            </div>
<!--            <div class="navbar-item has-dropdown is-hoverable">-->
<!--                <a class="navbar-link">More</a>-->

<!--                <div class="navbar-dropdown">-->
<!--                    <a class="navbar-item">About</a>-->
<!--                    <a class="navbar-item">Jobs</a>-->
<!--                    <a class="navbar-item">Contact</a>-->
<!--                    <hr class="navbar-divider" />-->
<!--                    <a class="navbar-item">Report an issue</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/register}" class="button is-primary"><strong>Sign up</strong>
                        <span class="icon">
                            <i class="fas fa-frog"></i>
                        </span>
                    </a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="button is-light">Log in
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                    </a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/users/profile}" class="button is-primary">View Profile
                    <span class="icon">
                        <i class="fas fa-kiwi-bird"></i>
                    </span></a>
                    <form th:action="@{/logout}" th:method="post">
                        <button sec:authorize="isAuthenticated()" class="button is-warning">Logout
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>