<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: my-header('User Profile')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: bulma-navbar" />

<div class="container" th:object="${user}">
    <div class="content">
        <h2>Welcome to <span th:text="${user.username}"></span>'s profile.</h2>
    </div>
<!--    <div th:if="${showEditControls}" class="field">-->
<!--        <div class="control">-->
<!--            <a id="openModal" class="button">Edit Profile-->
<!--                <span class="icon">-->
<!--                    <i class="fas fa-edit"></i>-->
<!--                </span>-->
<!--            </a>-->
<!--            <div class="field is-grouped">-->
<!--                <input type="hidden" th:field="*{username}" />-->
<!--                <input type="hidden" th:field="*{email}" />-->
<!--                <input type="hidden" th:field="*{id}" />-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <div th:if="${#fields.hasErrors('username')}" class="notification is-warning">-->
<!--                    <a class="delete"></a>-->
<!--                    <strong th:errors="*{username}"></strong>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                <div th:if="${#fields.hasErrors('email')}" class="notification is-warning">-->
<!--                    <a class="delete"></a>-->
<!--                    <strong th:errors="*{email}"></strong>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div class="modal" th:object="${user}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="modal-close delete is-large" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control">
                        <input id="username" class="input" th:field="*{username}" />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control">
                        <input id="email" class="input" th:field="*{email}" />
                    </div>
                </div><div class="field">
                <label for="password" class="label">Confirm Password</label>
                <div class="control">
                    <input id="password" type="password" class="input" />
                </div>
            </div>
            </section>
            <footer class="modal-card-foot">
                <form th:action="@{/users/{userId}/edit(userId=${user.id})}" th:method="post">
                    <input type="hidden" th:field="*{username}" />
                    <input type="hidden" th:field="*{email}" />
                    <input type="hidden" th:field="*{password}" />
                    <input type="hidden" th:field="*{id}" />
                    <button id="save" class="button is-warning">Save changes
                        <span class="icon">
                            <i class="fas fa-save"></i>
                        </span>
                    </button>
                </form>
                <button id="cancel" class="button">Cancel
                    <span class="icon">
                        <i class="fas fa-backspace"></i>
                    </span>
                </button>
            </footer>
        </div>
    </div>

</div>

<footer>
    <th:block th:replace="fragments/footer :: footer" />
</footer>

<script type="text/javascript" th:src="@{/js/bulmaModalJs.js}"></script>
</body>
</html>